@import "tailwindcss";

@theme {
  --font-roobert: "Roobert TRIAL", sans-serif;
  
  --animate-slide-right: slideRight 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@layer base {
  body {
    background-color: #f8fafc;
    color: #0f172a;
    font-family: var(--font-roobert), sans-serif; /* Fallback to Roobert globally if desired */
  }
}

@font-face {
  font-family: "Roobert TRIAL";
  src: url("/fonts/Roobert-Light.woff2") format("woff2"); /* Ensure you have this file */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roobert TRIAL";
  src: url("/fonts/Roobert-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roobert TRIAL";
  src: url("/fonts/Roobert-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roobert TRIAL";
  src: url("/fonts/Roobert-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
